In [1]:
import pandas as pd
from sqlalchemy.engine import create_engine

In [2]:
# ket noi den server 172.24.40.247
user = 'hv'
password = '123456'
connection_string = "mysql+pymysql://{user}:{password}@172.24.40.247:3306/salesdb?charset=UTF8".format(user=user, password=password)

In [3]:
# # ket noi den localhost
# user = 'root'
# password = ''
# connection_string = "mysql+pymysql://{user}:{password}@localhost:3308/salesdb?charset=UTF8".format(user=user, password=password)

In [7]:
engine = create_engine(connection_string)

In [8]:
df_orders = pd.read_sql('select * from orders', engine)

In [9]:
df_orders.shape

(830, 5)

In [10]:
df_orders.columns

Index(['Id', 'OrderDate', 'OrderNumber', 'CustomerId', 'TotalAmount'], dtype='object')

In [11]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 5 columns):
Id             830 non-null int64
OrderDate      830 non-null datetime64[ns]
OrderNumber    830 non-null object
CustomerId     830 non-null int64
TotalAmount    830 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 32.5+ KB

In [12]:
df_orders.head()

   Id  OrderDate OrderNumber  CustomerId  TotalAmount
0   1 2012-07-04      542378          85        440.0
1   2 2012-07-05      542379          79       1863.4
2   3 2012-07-08      542380          34       1813.0
3   4 2012-07-08      542381          84        670.8
4   5 2012-07-09      542382          76       3730.0

In [12]:
df_orderitems = pd.read_sql('select * from orderitems', engine)

In [13]:
df_orderitems.shape

(2155, 5)

In [14]:
df_orderitems.columns

Index(['Id', 'OrderId', 'ProductId', 'UnitPrice', 'Quantity'], dtype='object')

In [15]:
df_orderitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
Id           2155 non-null int64
OrderId      2155 non-null int64
ProductId    2155 non-null int64
UnitPrice    2155 non-null float64
Quantity     2155 non-null int64
dtypes: float64(1), int64(4)
memory usage: 84.3 KB

In [16]:
df_orderitems.head()

   Id  OrderId  ProductId  UnitPrice  Quantity
0   1        1         11       14.0        12
1   2        1         42        9.8        10
2   3        1         72       34.8         5
3   4        2         14       18.6         9
4   5        2         51       42.4        40

In [17]:
# su dung magic sql
%load_ext sql

In [ ]:
# ket noi den server 172.24.40.247
user = 'hv'
password = '123456'
connection_string = "mysql+pymysql://{user}:{password}@172.24.40.247:3306/salesdb?charset=UTF8".format(user=user, password=password)
%sql $connection_string

In [18]:
# # ket noi den localhost
# user = 'root'
# password = ''
# connection_string = "mysql+pymysql://{user}:{password}@localhost:3308/salesdb?charset=UTF8".format(user=user, password=password)
# %sql $connection_string

'Connected: root@salesdb'

In [19]:
data = %sql select * from orders

 * mysql+pymysql://root:***@localhost:3308/salesdb?charset=UTF8
830 rows affected.

In [20]:
df_orders = data.DataFrame()

In [21]:
df_orders.head()

   Id  OrderDate OrderNumber  CustomerId TotalAmount
0   1 2012-07-04      542378          85      440.00
1   2 2012-07-05      542379          79     1863.40
2   3 2012-07-08      542380          34     1813.00
3   4 2012-07-08      542381          84      670.80
4   5 2012-07-09      542382          76     3730.00