In [28]:
from mysql.connector import connect

In [47]:
conn = connect(host='localhost', port=3308, database='salesdb', user='root', password='')

In [48]:
# câu 1
sql = """
SELECT p.*, s.CompanyName
FROM products p JOIN suppliers s ON p.SupplierId=s.Id
WHERE s.CompanyName=%s
"""

In [49]:
cur = conn.cursor()
name = 'Tokyo Traders'
data = (name,)
cur.execute(sql, data)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone() 
cur.close()   
conn.close()

(9, 'Mishi Kobe Niku', 4, Decimal('103.00'), '18 - 500 g pkgs.', 1, 'Tokyo Traders')
(10, 'Ikura', 4, Decimal('37.00'), '12 - 200 ml jars', 0, 'Tokyo Traders')
(74, 'Longlife Tofu', 4, Decimal('16.00'), '5 kg pkg.', 0, 'Tokyo Traders')

In [42]:
def run_sql(sql, data):
    cur = conn.cursor()
    cur.execute(sql, data)
    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()    
    cur.close()

In [43]:
conn = connect(host='localhost', port=3308, database='salesdb', user='root', password='')

In [44]:
# câu 2
sql = """
UPDATE products p JOIN suppliers s ON p.SupplierId=s.Id
SET UnitPrice=UnitPrice+%s
WHERE s.CompanyName=%s
"""

In [45]:
name = 'Tokyo Traders'
price = 3
data = (price, name)
run_sql(sql, data)

In [46]:
conn.close()