In [29]:
import ibm_db

In [30]:
credential = {
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=gqk64446;PWD=kh4z3+z8qp97tthd;",
  "host": "dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB",
  "parameters": {
    "role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager"
  },
  "password": "kh4z3+z8qp97tthd",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=gqk64446;PWD=kh4z3+z8qp97tthd;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://gqk64446:kh4z3%2Bz8qp97tthd@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB",
  "username": "gqk64446"
}

In [31]:
conn = ibm_db.connect(credential['dsn'],'','')

In [32]:
# doc bang employees select * from employees where department_id=? and salary>?
# in ket qua doc duoc
sql = 'select * from employees where department_id=? and salary>?'
stmt = ibm_db.prepare(conn, sql)
ibm_db.bind_param(stmt, 1, 80) # phong 80
ibm_db.bind_param(stmt, 2, 10000) # luong > 10000
ibm_db.execute(stmt)

True

In [33]:
data = ibm_db.fetch_tuple(stmt)
while data:
    print(data)
    data = ibm_db.fetch_tuple(stmt)

(145, 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', datetime.datetime(2004, 10, 1, 0, 0), 'SA_MAN', '14000.00', '0.40', 100, 80)
(146, 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', datetime.datetime(2005, 1, 5, 0, 0), 'SA_MAN', '13500.00', '0.30', 100, 80)
(147, 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', datetime.datetime(2005, 3, 10, 0, 0), 'SA_MAN', '12000.00', '0.30', 100, 80)
(148, 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', datetime.datetime(2007, 10, 15, 0, 0), 'SA_MAN', '11000.00', '0.30', 100, 80)
(149, 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', datetime.datetime(2008, 1, 29, 0, 0), 'SA_MAN', '10500.00', '0.20', 100, 80)
(162, 'Clara', 'Vishney', 'CVISHNEY', '011.44.1346.129268', datetime.datetime(2005, 11, 11, 0, 0), 'SA_REP', '10500.00', '0.25', 147, 80)
(168, 'Lisa', 'Ozer', 'LOZER', '011.44.1343.929268', datetime.datetime(2005, 3, 11, 0, 0), 'SA_REP', '11500.00', '0.25', 148, 80)
(174, 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', datetime.datetime(2004, 5, 11, 0, 0), 'SA_REP', '11000.00', '0.30', 149, 80)

In [34]:
ibm_db.close(conn)

True