```
DELIMITER $$ 
CREATE PROCEDURE find_customer_by_phone(IN p_phone VARCHAR(14),   
             OUT p_firstname VARCHAR(255), OUT p_lastname VARCHAR(255))
BEGIN
       SELECT firstname, lastname INTO p_firstname, p_lastname 
       FROM customers
       WHERE phone = p_phone;
END $$
DELIMITER ;
```

In [4]:
from mysql.connector import connect

In [5]:
conn = connect(host='localhost', database='salesdb', user='root', password='root', port=8889)

In [10]:
cur = conn.cursor()
args = ['030-0074321', None, None]
result_args = cur.callproc('find_customer_by_phone', args)

In [11]:
result_args

('030-0074321', 'Maria', 'Anders')

In [12]:
args

['030-0074321', None, None]

In [13]:
cur.close()
conn.close()

```
DELIMITER $$ 
CREATE PROCEDURE find_customers_by_city(IN p_city VARCHAR(40))
BEGIN
       SELECT firstname, lastname, phone, city
       FROM customers
       WHERE City = p_city;
END $$
DELIMITER ;
```

In [14]:
# CALL find_customers_by_city('London');

In [15]:
conn = connect(host='localhost', database='salesdb', user='root', password='root', port=8889)

In [16]:
cur = conn.cursor()
cur.callproc('find_customers_by_city', ['London'])
results = cur.stored_results()

In [17]:
for result in results:
    print(result.fetchall())

[('Thomas', 'Hardy', '(171) 555-7788', 'London'), ('Victoria', 'Ashworth', '(171) 555-1212', 'London'), ('Elizabeth', 'Brown', '(171) 555-2282', 'London'), ('Ann', 'Devon', '(171) 555-0297', 'London'), ('Simon', 'Crowther', '(171) 555-7733', 'London'), ('Hari', 'Kumar', '(171) 555-1717', 'London')]

In [18]:
cur.close()
conn.close()

In [20]:
conn = connect(host='localhost', database='salesdb', user='root', password='root', port=8889)

In [21]:
cur = conn.cursor()
cur.callproc('find_customers_by_city', ['London'])
results = cur.stored_results()
for result in results:
    rows = result.fetchall()
    for row in rows:
        print(row)

('Thomas', 'Hardy', '(171) 555-7788', 'London')
('Victoria', 'Ashworth', '(171) 555-1212', 'London')
('Elizabeth', 'Brown', '(171) 555-2282', 'London')
('Ann', 'Devon', '(171) 555-0297', 'London')
('Simon', 'Crowther', '(171) 555-7733', 'London')
('Hari', 'Kumar', '(171) 555-1717', 'London')

In [15]:
cur.close()
conn.close()

```
DELIMITER $$ 
CREATE PROCEDURE find_orders_by_orderdate(IN p_orderdate DATE)
BEGIN
       SELECT *
       FROM orders
       WHERE OrderDate = p_orderdate;
END $$
DELIMITER ;
```

In [81]:
# CALL find_orders_by_orderdate('2012-07-10')

In [16]:
conn = connect(host='localhost', database='salesdb', user='root', password='', port=3308)
cur = conn.cursor()
cur.callproc('find_orders_by_orderdate', ['2012-07-10'])
results = cur.stored_results()
for result in results:
    rows = result.fetchall()
    for row in rows:
        print(row)
cur.close()
conn.close()

(6, datetime.datetime(2012, 7, 10, 0, 0), '542383', 34, Decimal('1444.80'))

In [83]:
conn = connect(host='localhost', database='salesdb', user='root', password='', port=3308)
cur = conn.cursor()
cur.callproc('find_orders_by_orderdate', ['2012-07-10'])
results = cur.stored_results()
for result in results:
    rows = result.fetchall()
    for row in rows:
        print('id:',row[0])
        print('order number:',row[2])
        print('order date:',row[1])
        print('total amount:',row[4])
cur.close()
conn.close()

id: 6
order number: 542383
order date: 2012-07-10 00:00:00
total amount: 1444.80

```
DELIMITER $$ 
CREATE PROCEDURE find_orders_by_orderdate_range(IN p_orderdate_begin DATE, IN p_orderdate_end DATE)
BEGIN
       SELECT *
       FROM orders
       WHERE OrderDate BETWEEN p_orderdate_begin AND p_orderdate_end
       ORDER BY OrderDate;
END $$
DELIMITER ;
```

In [84]:
# CALL find_orders_by_orderdate_range('2012-07-01 00:00:00', '2012-07-31 23:59:59');

In [17]:
conn = connect(host='localhost', database='salesdb', user='root', password='', port=3308)
cur = conn.cursor()
cur.callproc('find_orders_by_orderdate_range', ['2012-07-01 00:00:00', '2012-07-31 23:59:59'])
results = cur.stored_results()
for result in results:
    rows = result.fetchall()
    for row in rows:
        print(row)
cur.close()
conn.close()

(1, datetime.datetime(2012, 7, 4, 0, 0), '542378', 85, Decimal('440.00'))
(2, datetime.datetime(2012, 7, 5, 0, 0), '542379', 79, Decimal('1863.40'))
(3, datetime.datetime(2012, 7, 8, 0, 0), '542380', 34, Decimal('1813.00'))
(4, datetime.datetime(2012, 7, 8, 0, 0), '542381', 84, Decimal('670.80'))
(5, datetime.datetime(2012, 7, 9, 0, 0), '542382', 76, Decimal('3730.00'))
(6, datetime.datetime(2012, 7, 10, 0, 0), '542383', 34, Decimal('1444.80'))
(7, datetime.datetime(2012, 7, 11, 0, 0), '542384', 14, Decimal('625.20'))
(8, datetime.datetime(2012, 7, 12, 0, 0), '542385', 68, Decimal('2490.50'))
(9, datetime.datetime(2012, 7, 15, 0, 0), '542386', 88, Decimal('517.80'))
(10, datetime.datetime(2012, 7, 16, 0, 0), '542387', 35, Decimal('1119.90'))
(11, datetime.datetime(2012, 7, 17, 0, 0), '542388', 20, Decimal('2018.60'))
(12, datetime.datetime(2012, 7, 18, 0, 0), '542389', 13, Decimal('100.80'))
(13, datetime.datetime(2012, 7, 19, 0, 0), '542390', 56, Decimal('1746.20'))
(14, datetime.datetime(2012, 7, 19, 0, 0), '542391', 61, Decimal('448.00'))
(15, datetime.datetime(2012, 7, 22, 0, 0), '542392', 65, Decimal('624.80'))
(16, datetime.datetime(2012, 7, 23, 0, 0), '542393', 20, Decimal('2464.80'))
(17, datetime.datetime(2012, 7, 24, 0, 0), '542394', 24, Decimal('724.50'))
(18, datetime.datetime(2012, 7, 25, 0, 0), '542395', 7, Decimal('1176.00'))
(19, datetime.datetime(2012, 7, 26, 0, 0), '542396', 87, Decimal('364.80'))
(20, datetime.datetime(2012, 7, 29, 0, 0), '542397', 25, Decimal('4031.00'))
(21, datetime.datetime(2012, 7, 30, 0, 0), '542398', 33, Decimal('1101.20'))
(22, datetime.datetime(2012, 7, 31, 0, 0), '542399', 89, Decimal('676.00'))