In [8]:
from mysql.connector import connect

In [9]:
# conn = connect(host='localhost', user='root', password='', database='hr', port='3308')
conn = connect(host='172.24.40.247', user='hv', password='123456', database='olympics', port='3306')

In [10]:
cur = conn.cursor()

In [11]:
# parameters (tham so)
sql = '''
select * 
from medals
where year=%s and medal=%s
limit %s
'''

In [12]:
data = [2012, 'Silver', 5] # arguments (doi so)

In [13]:
cur.execute(sql, data)

In [14]:
for row in cur:
    print(row)

(29218, 2012, 'London', 'Aquatics', 'Diving', 'QIU, Bo', 'CHN', 'Men', '10M Platform', 'Silver')
(29221, 2012, 'London', 'Aquatics', 'Diving', 'BROBEN, Brittany', 'AUS', 'Women', '10M Platform', 'Silver')
(29224, 2012, 'London', 'Aquatics', 'Diving', 'QIN, Kai', 'CHN', 'Men', '3M Springboard', 'Silver')
(29227, 2012, 'London', 'Aquatics', 'Diving', 'HE, Zi', 'CHN', 'Women', '3M Springboard', 'Silver')
(29231, 2012, 'London', 'Aquatics', 'Diving', 'GARCIA NAVARRO, Ivan', 'MEX', 'Men', 'Synchronized 10M', 'Silver')

In [15]:
cur.close()

True

In [16]:
conn.close()