In [25]:
from mysql.connector import connect

In [26]:
# conn = connect(host='localhost', user='root', password='', database='hr', port='3308')
conn = connect(host='172.24.40.247', user='hv', password='123456', database='olympics', port='3306')

In [27]:
cur = conn.cursor()

In [28]:
# parameters (tham so)
sql = '''
select * 
from medals
where year=%(y)s and medal=%(m)s
limit %(l)s
'''

In [29]:
data_list = [{'y':2012, 'm':'Gold', 'l':5},
            {'y':2012, 'm':'Silver', 'l':5}] # arguments (doi so)

In [30]:
for data in data_list:
    cur.execute(sql, data)
    for row in cur:
        print(row)

(29217, 2012, 'London', 'Aquatics', 'Diving', 'BOUDIA, David', 'USA', 'Men', '10M Platform', 'Gold')
(29220, 2012, 'London', 'Aquatics', 'Diving', 'CHEN, Ruolin', 'CHN', 'Women', '10M Platform', 'Gold')
(29223, 2012, 'London', 'Aquatics', 'Diving', 'ZAKHAROV, Ilya', 'RUS', 'Men', '3M Springboard', 'Gold')
(29226, 2012, 'London', 'Aquatics', 'Diving', 'WU, Minxia', 'CHN', 'Women', '3M Springboard', 'Gold')
(29229, 2012, 'London', 'Aquatics', 'Diving', 'CAO, Yuan', 'CHN', 'Men', 'Synchronized 10M', 'Gold')
(29218, 2012, 'London', 'Aquatics', 'Diving', 'QIU, Bo', 'CHN', 'Men', '10M Platform', 'Silver')
(29221, 2012, 'London', 'Aquatics', 'Diving', 'BROBEN, Brittany', 'AUS', 'Women', '10M Platform', 'Silver')
(29224, 2012, 'London', 'Aquatics', 'Diving', 'QIN, Kai', 'CHN', 'Men', '3M Springboard', 'Silver')
(29227, 2012, 'London', 'Aquatics', 'Diving', 'HE, Zi', 'CHN', 'Women', '3M Springboard', 'Silver')
(29231, 2012, 'London', 'Aquatics', 'Diving', 'GARCIA NAVARRO, Ivan', 'MEX', 'Men', 'Synchronized 10M', 'Silver')

In [31]:
cur.close()

True

In [32]:
conn.close()