In [19]:
from mysql.connector import connect

In [20]:
# conn = connect(host='localhost', user='root', password='', database='hr', port='3308')
conn = connect(host='172.24.40.247', user='hv', password='123456', database='salesdb', port='3306')

In [21]:
cur = conn.cursor()
sql = '''
select * 
from customers
limit 5
'''
cur.execute(sql)

In [22]:
# doc dong dau tien
row = cur.fetchone()
while row: # row <> None --> doc co du lieu
    print(row)
    row = cur.fetchone()

(1, 'Maria', 'Anders', 'Berlin', 'Germany', '030-0074321')
(2, 'Ana', 'Trujillo', 'México D.F.', 'Mexico', '(5) 555-4729')
(3, 'Antonio', 'Moreno', 'México D.F.', 'Mexico', '(5) 555-3932')
(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788')
(5, 'Christina', 'Berglund', 'Luleå', 'Sweden', '0921-12 34 65')

In [23]:
cur.execute(sql)
# doc dong dau tien
row = cur.fetchone()
while row: # row <> None --> doc co du lieu
    print('* '*20)
    print('First name:', row[1])
    print('Last name:', row[2])
    print('City:', row[3])
    print('* '*20)
    row = cur.fetchone()

* * * * * * * * * * * * * * * * * * * *
First name: Maria
Last name: Anders
City: Berlin
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
First name: Ana
Last name: Trujillo
City: México D.F.
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
First name: Antonio
Last name: Moreno
City: México D.F.
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
First name: Thomas
Last name: Hardy
City: London
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
First name: Christina
Last name: Berglund
City: Luleå
* * * * * * * * * * * * * * * * * * * *

In [24]:
cur.close()

True

In [25]:
conn.close()