In [10]:
import pandas as pd
import sqlalchemy
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
# user = 'hv'
# password = '123456'
# host = '172.24.40.247:3306'
# database = 'olympics'

user = 'root'
password = 'root'
host = 'localhost:8889'
database = 'TestDB'
connection_string = "mysql+pymysql://{user}:{password}@{host}/{database}?charset=UTF8".format(user=user, password=password, host=host, database=database)
try:
    %sql $connection_string
    print('Database connected!')
except:
    print('Unabale to connect.')

Database connected!

In [3]:
# Create a connection engine
from sqlalchemy.engine import create_engine
engine = create_engine(connection_string)

In [4]:
def make_df_by_medal(medal_var):
    df = %sql select * from medals where medal = :medal_var and year = 2012
    return df.DataFrame()

In [5]:
make_df_by_medal('gold')

 * mysql+pymysql://root:***@localhost:8889/TestDB?charset=UTF8
636 rows affected.

,Id,Year,City,Sport,Discipline,Athlete,CountryCode,Gender,Event,Medal
0,29217,2012,London,Aquatics,Diving,"BOUDIA, David",USA,Men,10M Platform,Gold
1,29220,2012,London,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10M Platform,Gold
2,29223,2012,London,Aquatics,Diving,"ZAKHAROV, Ilya",RUS,Men,3M Springboard,Gold
3,29226,2012,London,Aquatics,Diving,"WU, Minxia",CHN,Women,3M Springboard,Gold
4,29229,2012,London,Aquatics,Diving,"CAO, Yuan",CHN,Men,Synchronized 10M,Gold
...,...,...,...,...,...,...,...,...,...,...
631,31146,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
632,31150,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
633,31154,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
634,31158,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
635,31162,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold

In [6]:
df2 = pd.read_sql('select * from locations', engine)

In [7]:
string = pd.read_txt('SALESDB_model.sql')
string

AttributeError: module 'pandas' has no attribute 'read_txt'

In [11]:
file = open('SALESDB_model.sql')
sql_script = sqlalchemy.text(file.read())
engine.execute(sql_script)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE DATABASE salesdb;\nUSE salesdb;\ncreate table Customers (\n   Id            ' at line 2")
[SQL: DROP DATABASE IF EXISTS salesdb;
CREATE DATABASE salesdb;
USE salesdb;
create table Customers (
   Id                   int not null,
   FirstName            varchar(40)         not null,
   LastName             varchar(40)         not null,
   City                 varchar(40)         null,
   Country              varchar(40)         null,
   Phone                varchar(20)         null,
   constraint PK_CUSTOMERS primary key (Id)
);
create table Orders (
   Id                   int,
   OrderDate            datetime not null,
   OrderNumber          varchar(10)         null,
   CustomerId           int                  not null,
   TotalAmount          decimal(12,2)        null,
   constraint PK_ORDERS primary key (Id)
);
create table OrderItems (
   Id                   int,
   OrderId              int not null,
   ProductId            int not null,
   UnitPrice            decimal(12,2) not null,
   Quantity             int not null,
   constraint PK_ORDERITEMS primary key (Id)
);
create table Products (
   Id                   int,
   ProductName          varchar(50)         not null,
   SupplierId           int                  not null,
   UnitPrice            decimal(12,2)        null,
   Package              varchar(30)         null,
   IsDiscontinued       bit                  not null,
   constraint PK_PRODUCTS primary key (Id)
);
create table Suppliers (
   Id                   int,
   CompanyName          varchar(40)         not null,
   ContactName          varchar(50)         null,
   ContactTitle         varchar(40)         null,
   City                 varchar(40)         null,
   Country              varchar(40)         null,
   Phone                varchar(30)         null,
   Fax                  varchar(30)         null,
   constraint PK_SUPPLIERS primary key (Id)
);]
(Background on this error at: http://sqlalche.me/e/13/f405)