In [18]:
import sqlite3

In [19]:
conn = sqlite3.connect('hr.db')

In [20]:
cur = conn.cursor()

In [21]:
# query: select count(*), sum(salary), avg(salary), min(salary), max(salary) from employees
sql = "select count(*), sum(salary), avg(salary), min(salary), max(salary) from employees"
cur.execute(sql)
row = cur.fetchone()
print(row)

(107, 691416, 6461.8317757009345, 2100, 24000)

In [22]:
# phong 80
sql = """
select count(*), sum(salary), avg(salary), min(salary), max(salary) from employees
where department_id=80
"""
cur.execute(sql)
row = cur.fetchone()
print(row)

(34, 304500, 8955.882352941177, 6100, 14000)

In [23]:
# phong 80
depid = (80,)
sql = """
select count(*), sum(salary), avg(salary), min(salary), max(salary) from employees
where department_id=?
"""
cur.execute(sql, depid)
row = cur.fetchone()
print(row)

(34, 304500, 8955.882352941177, 6100, 14000)

In [24]:
cur.close()
conn.close()