In [82]:
from mysql.connector import connect
import numpy as np
import pandas as pd

In [113]:
connection = connect(host='localhost', user='root', password='root', database='TestDB', port='8889')
# connection = connect(host='172.24.40.247', user='hv', password='123456', database='olympics', port='3306')

In [114]:
cur = connection.cursor()

In [120]:
sql = 'select * from medals where year=%(year)s and medal=%(medal)s limit 5'
data_list = [{'year': 2012, 'medal': 'Silver'},
        {'year': 2012, 'medal': 'Gold'}]

In [121]:
for data in data_list:
    print('*'*30)
    cur.execute(sql, data)
    for row in cur:
        print(row)

******************************
(29218, 2012, 'London', 'Aquatics', 'Diving', 'QIU, Bo', 'CHN', 'Men', '10M Platform', 'Silver')
(29221, 2012, 'London', 'Aquatics', 'Diving', 'BROBEN, Brittany', 'AUS', 'Women', '10M Platform', 'Silver')
(29224, 2012, 'London', 'Aquatics', 'Diving', 'QIN, Kai', 'CHN', 'Men', '3M Springboard', 'Silver')
(29227, 2012, 'London', 'Aquatics', 'Diving', 'HE, Zi', 'CHN', 'Women', '3M Springboard', 'Silver')
(29231, 2012, 'London', 'Aquatics', 'Diving', 'GARCIA NAVARRO, Ivan', 'MEX', 'Men', 'Synchronized 10M', 'Silver')
******************************
(29217, 2012, 'London', 'Aquatics', 'Diving', 'BOUDIA, David', 'USA', 'Men', '10M Platform', 'Gold')
(29220, 2012, 'London', 'Aquatics', 'Diving', 'CHEN, Ruolin', 'CHN', 'Women', '10M Platform', 'Gold')
(29223, 2012, 'London', 'Aquatics', 'Diving', 'ZAKHAROV, Ilya', 'RUS', 'Men', '3M Springboard', 'Gold')
(29226, 2012, 'London', 'Aquatics', 'Diving', 'WU, Minxia', 'CHN', 'Women', '3M Springboard', 'Gold')
(29229, 2012, 'London', 'Aquatics', 'Diving', 'CAO, Yuan', 'CHN', 'Men', 'Synchronized 10M', 'Gold')

In [122]:
cur.executemany(sql, data_list)

In [123]:
data = []
for row in cur:
    data.append(list(row))

In [119]:
df = pd.DataFrame(data, columns=['id', 'year', 'city', 'sport', 'discipline', 'athlete', 'countrycode', 'gender', 'event', 'medal'])
df

Empty DataFrame
Columns: [id, year, city, sport, discipline, athlete, countrycode, gender, event, medal]
Index: []

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8003 entries, 0 to 8002
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           8003 non-null   int64
 1   year         8003 non-null   int64
 2   city         8003 non-null   object
 3   sport        8003 non-null   object
 4   discipline   8003 non-null   object
 5   athlete      8003 non-null   object
 6   countrycode  8003 non-null   object
 7   gender       8003 non-null   object
 8   event        8003 non-null   object
 9   medal        8003 non-null   object
dtypes: int64(2), object(8)
memory usage: 625.4+ KB

In [51]:
cur.close()

True