In [5]:
import pandas as pd
from mysql.connector import connect

In [6]:
connection = connect(host='localhost', user='root', password='root', database='TestDB', port='8889')
cur = connection.cursor()

In [7]:
drinks_file = pd.read_csv('drinks.csv')
drinks_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            193 non-null    int64
 1   country                       193 non-null    object
 2   beer_servings                 193 non-null    int64
 3   spirit_servings               193 non-null    int64
 4   wine_servings                 193 non-null    int64
 5   total_litres_of_pure_alcohol  193 non-null    float64
 6   continent                     170 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 10.7+ KB

In [8]:
i = 1
for row in drinks_file.iterrows():
    list = row[1].values
    cur.execute('''
            INSERT INTO drinks (id, country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, continent) 
            VALUES ("%d", "%s", "%d", "%d", "%d", "%f", "%s")
            ''' %tuple(list))
            
    print('Inserted row: ',i)
    i += 1
print('Done')
cur.execute("UPDATE TestDB.drinks SET continent = NULL WHERE continent = 'nan'")
connection.commit()
cur.close()

Inserted row:  1
Inserted row:  2
Inserted row:  3
Inserted row:  4
Inserted row:  5
Inserted row:  6
Inserted row:  7
Inserted row:  8
Inserted row:  9
Inserted row:  10
Inserted row:  11
Inserted row:  12
Inserted row:  13
Inserted row:  14
Inserted row:  15
Inserted row:  16
Inserted row:  17
Inserted row:  18
Inserted row:  19
Inserted row:  20
Inserted row:  21
Inserted row:  22
Inserted row:  23
Inserted row:  24
Inserted row:  25
Inserted row:  26
Inserted row:  27
Inserted row:  28
Inserted row:  29
Inserted row:  30
Inserted row:  31
Inserted row:  32
Inserted row:  33
Inserted row:  34
Inserted row:  35
Inserted row:  36
Inserted row:  37
Inserted row:  38
Inserted row:  39
Inserted row:  40
Inserted row:  41
Inserted row:  42
Inserted row:  43
Inserted row:  44
Inserted row:  45
Inserted row:  46
Inserted row:  47
Inserted row:  48
Inserted row:  49
Inserted row:  50
Inserted row:  51
Inserted row:  52
Inserted row:  53
Inserted row:  54
Inserted row:  55
Inserted row:  56
Inserted row:  57
Inserted row:  58
Inserted row:  59
Inserted row:  60
Inserted row:  61
Inserted row:  62
Inserted row:  63
Inserted row:  64
Inserted row:  65
Inserted row:  66
Inserted row:  67
Inserted row:  68
Inserted row:  69
Inserted row:  70
Inserted row:  71
Inserted row:  72
Inserted row:  73
Inserted row:  74
Inserted row:  75
Inserted row:  76
Inserted row:  77
Inserted row:  78
Inserted row:  79
Inserted row:  80
Inserted row:  81
Inserted row:  82
Inserted row:  83
Inserted row:  84
Inserted row:  85
Inserted row:  86
Inserted row:  87
Inserted row:  88
Inserted row:  89
Inserted row:  90
Inserted row:  91
Inserted row:  92
Inserted row:  93
Inserted row:  94
Inserted row:  95
Inserted row:  96
Inserted row:  97
Inserted row:  98
Inserted row:  99
Inserted row:  100
Inserted row:  101
Inserted row:  102
Inserted row:  103
Inserted row:  104
Inserted row:  105
Inserted row:  106
Inserted row:  107
Inserted row:  108
Inserted row:  109
Inserted row:  110
Inserted row:  111
Inserted row:  112
Inserted row:  113
Inserted row:  114
Inserted row:  115
Inserted row:  116
Inserted row:  117
Inserted row:  118
Inserted row:  119
Inserted row:  120
Inserted row:  121
Inserted row:  122
Inserted row:  123
Inserted row:  124
Inserted row:  125
Inserted row:  126
Inserted row:  127
Inserted row:  128
Inserted row:  129
Inserted row:  130
Inserted row:  131
Inserted row:  132
Inserted row:  133
Inserted row:  134
Inserted row:  135
Inserted row:  136
Inserted row:  137
Inserted row:  138
Inserted row:  139
Inserted row:  140
Inserted row:  141
Inserted row:  142
Inserted row:  143
Inserted row:  144
Inserted row:  145
Inserted row:  146
Inserted row:  147
Inserted row:  148
Inserted row:  149
Inserted row:  150
Inserted row:  151
Inserted row:  152
Inserted row:  153
Inserted row:  154
Inserted row:  155
Inserted row:  156
Inserted row:  157
Inserted row:  158
Inserted row:  159
Inserted row:  160
Inserted row:  161
Inserted row:  162
Inserted row:  163
Inserted row:  164
Inserted row:  165
Inserted row:  166
Inserted row:  167
Inserted row:  168
Inserted row:  169
Inserted row:  170
Inserted row:  171
Inserted row:  172
Inserted row:  173
Inserted row:  174
Inserted row:  175
Inserted row:  176
Inserted row:  177
Inserted row:  178
Inserted row:  179
Inserted row:  180
Inserted row:  181
Inserted row:  182
Inserted row:  183
Inserted row:  184
Inserted row:  185
Inserted row:  186
Inserted row:  187
Inserted row:  188
Inserted row:  189
Inserted row:  190
Inserted row:  191
Inserted row:  192
Inserted row:  193
Done

True